# Files
*.txt
*.stp
*.qws
*.qdf
transcript
hps_sdram_p0_summary.csv
hps.sopcinfo
vsim.wlf

# Directories
**/outputs/*
**/work/*
**/output_files/*
**/simulation/*
**/db/*
**/incremental_db/*
**/hps_isw_handoff/*
**/qdb/*
**/tmp_svunit/